.aside__left-Sidebar.is-inactive {
    transform: translate3d(-120px,0px,0px);
}

.aside__right-Sidebar.is-inactive {
    transform: translate3d(-349px,0px,0px);
}


// Dropdowns >>>>

// chooselang dropdown
.langContent.is-inactive {
    display: none;
}
// grid-list dropdown
.grid-list__content.is-inactive {
    display: none;
}
// bell-content dropdown
.bell-list__content.is-inactive {
    display: none;
}
// user-content dropdown
.user-list__content.is-inactive {
    display: none;
}
// order-list dropdown
.order-list__content.is-inactive {
    display: none;
}
// max-items dropdown
.max-items-list__content.is-inactive {
    display: none;
}