.aside__left-Sidebar.is-active {
    transform: translate3d(0px,0px,0px);
}

.aside__right-Sidebar.is-active {
    transform: translate3d(0px,0px,0px);
}







// Main content themes
.t-light-red .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-red-color;
            @extend %color-red-2;
        }
    }
}

.t-light-purple .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-purple-color;
            @extend %color-purple-1;
        }
    }
}

.t-light-orange .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-orange-color;
            @extend %color-orange-1;
        }
    }
}

.t-light-green .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-green-color;
            @extend %color-green-1;
        }
    }
}

.t-light-blue .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-blue-color;
            @extend %color-blue-1;
        }
    }
}

.t-dark-red .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-red-color;
            @extend %color-red-2;
            &:hover {
                @extend %color-dark-default-2;
            }
        }
    }
}

.t-dark-purple .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-purple-color;
            @extend %color-purple-1;
            &:hover {
                @extend %color-dark-default-2;
            }
        }
    }
}

.t-dark-orange .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-orange-color;
            @extend %color-orange-1;
            &:hover {
                @extend %color-dark-default-2;
            }
        }
    }
}

.t-dark-green .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-green-color;
            @extend %color-green-1;
            &:hover {
                @extend %color-dark-default-2;
            }
        }
    }
}

.t-dark-blue .main__footer {
    .main__link.is-active {
        .main__numPage {
            @extend %border-blue-color;
            @extend %color-blue-1;
            &:hover {
                @extend %color-dark-default-2;
            }
        }
    }
}
//

// Change Theme
.changeTheme {
    .changeTheme__list {
        .changeTheme__list__light {
            li {
                .light-purple.active {
                    @extend %background-transparent;
                    @extend %border-purple-color;
                }
                .light-blue.active {
                    @extend %background-transparent;
                    @extend %border-blue-color;
                }
                .light-green.active {
                    @extend %background-transparent;
                    @extend %border-green-color;
                }
                .light-orange.active {
                    @extend %background-transparent;
                    @extend %border-orange-color;
                }
                .light-red.active {
                    @extend %background-transparent;
                    @extend %border-red-color;
                }
            }
        }
        .changeTheme__list__dark {
            li {
                .dark-purple.active {
                    @extend %background-transparent;
                    @extend %border-purple-color;
                }
                .dark-blue.active {
                    @extend %background-transparent;
                    @extend %border-blue-color;
                }
                .dark-green.active {
                    @extend %background-transparent;
                    @extend %border-green-color;
                }
                .dark-orange.active {
                    @extend %background-transparent;
                    @extend %border-orange-color;
                }
                .dark-red.active {
                    @extend %background-transparent;
                    @extend %border-red-color;
                }
            }
        }
    }
}


// Dropdowns >>>
.langContent.is-active {
    display: flex;
}
