%font-weight400 { font-weight: 400; }
%font-weight600 { font-weight: 600; }
%font-weight700 { font-weight: 700; }

%background-transparent { background: transparent; }
// %color-transparent { color: transparent; }

%default-padding { padding: 10px 12px; }
%default-margin { margin: 0px 12px; }
%default-small-margin { margin: 0 6px; }
%default-border-radius { border-radius: 18px; }
%default-outline { outline: 0; }

%text-decoration-none { text-decoration: none; }

%cursor-pointer { cursor: pointer; }
%border-0 { border: 0; }
%border-transparent { border-color: transparent; }
%border-radius-50-percent { border-radius: 50%; }

%box-shadow-default { box-shadow: 0px .5px 16px rgba(0,0,0,.1); }
%box-shadow-default-2 { box-shadow: 8px 0px 16px rgba(0,0,0,.1); }

// Transitions animations
%transition-height { transition: height .3s ease-in; }
%transition-background-color { transition: background-color .3s; }
%transition-width { transition: width .3s ease-in; }
%transition-color { transition: color .3s; }
%transition-transform { transition: transform .6s ease-in-out; }

// ChangeTheme.scss Utility's
%padding-changeTheme__list { padding: 0px 12px 8px 12px; }
%border-transparent-changeTheme__list { border: 3px solid transparent; }


// Theme purple
%background-purple { background: #922c88; }
%background-purple2 { background:  #4556ac; }
%color-purple-1 { color: #922c88; }
%color-purple-2 { color: #4556ac; }
%border-purple { border: 1px solid #922c88; }
%border-purple-color { border-color: #922c88; }

// Theme red
%background-red { background: #880A1F; }
%background-red2 { background: #E7284A; }
%background-red3 { background: #AA5E6C; }
%color-red-1 { color: #E7284A; }
%color-red-2 { color: #880A1F; }
%border-red { border: 1px solid #880A1F; }
%border-red-color { border-color: #880A1F; }

// Theme orange
%background-orange { background: #E2863B; }
%background-orange2 { background: #E7523E; }
%color-orange-1 { color: #E2863B; }
%color-orange-2 { color: #E7523E; }
%border-orange { border: 1px solid #E2863B; }
%border-orange-color { border-color: #E2863B; }

// Theme green
%background-green { background: #576A3D; }
%background-green2 { background: #DD9C02; }
%color-green-1 { color: #576A3D; }
%color-green-2 { color: #DD9C02; }
%border-green { border: 1px solid #576A3D; }
%border-green-color { border-color: #576A3D; }

// Theme blue
%background-blue { background: #145388; }
%background-blue2 { background: #2A93D5; }
%color-blue-1 { color: #145388; }
%color-blue-2 { color: #2A93D5 }
%border-blue { border: 1px solid #145388; }
%border-blue-color { border-color: #145388; }

/////////////////////////////////////////////////////

// Theme-Dark
%background-dark-color-1 { background: #1B191B; }
%background-dark-color-2 { background: #232223; }
%background-dark-input { background: #1B191B; }
%btn-buy-dark-hover-color { color: #1B191B; }

%border1-right-dark-1px { border-right: 1px solid #313131; }
%border2-bottom-dark-1px { border-bottom: 1px solid #313131; }

%langButton-dark-borderTop { border-top: 5px solid #757575; }

%color-dark-default-1 { color: #969696; }
%color-dark-default-2 { color: #757575; }

// Theme-light
%background-light-input { background: #F8F8F8; }
%background-light-color1 { background: #F8F8F8; }
%background-light-color3 { background: #FFF; }
%background-light-color4 { background: #303030; }

%btn-buy-light-hover-color { color: #FFF; }
%btn-add-new-light-color { color: #FFF; }
%btn-orderList-hover-color { color: #FFF; }

%border1-right-light-1px { border-right: 1px solid #F3F3F3; }
%border2-bottom-light-1px { border-bottom: 1px solid #F3F3F3; }

%langButton-light-borderTop { border-top: 5px solid #8F8F8F; }

%color-light-default-1 { color: #303030; }
%color-light-default-2 { color: #8F8F8F; }
%color-light-default-3 { color: #909090; }
%color-light-default-4 { color: #FFF; }