$theme-name: 'blue';

.#{$theme-name} {
    // HEADER CONTENT STYLES
    //
    // Header btn-buy
    .btn-buy__button {
        @extend %border-blue;
        @extend %color-blue-1;
        &:hover {
            @extend %background-blue;
        }
    }
    // Header search
    .search {
        .search__button:hover {
            background: url('../img/blue/header-icons/search.png') no-repeat;
            background-position: center center;
        }
    }
    // Header small icons
    .grid-list__icon:hover {
        background: url('../img/blue/header-icons/list.png') no-repeat;
    }
    // icon bell
    .smallIcon__img-bell {
        .smallIcon__bell-alert {
            @extend %border-blue;
            @extend %color-blue-1;
        }
        &:hover {
            background: url('../img/blue/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }
    // icon full screen
    .smallIcon__img-fullscreen:hover {
        background: url('../img/blue/header-icons/resize.png') no-repeat;
        background-position: center center;
    }

    // ASIDE CONTENT STYLES
    .aside {
        .left-Sidebar__link:hover {
            @extend %color-blue-1;
            .dashboard-icon {
                background: url('../img/blue/sidebar-left-icons/dashboard.png') no-repeat;
            }
            .pages-icon {
                background: url('../img/blue/sidebar-left-icons/pages.png') no-repeat;
            }
            .application-icon {
                background: url('../img/blue/sidebar-left-icons/applications.png')no-repeat;
            }
            .ui-icon {
                background: url('../img/blue/sidebar-left-icons/ui.png') no-repeat;
            }
            .menu-icon {
                background: url('../img/blue/sidebar-left-icons/menu.png') no-repeat;
            }
            .blankpage-icon {
                background: url('../img/blue/sidebar-left-icons/blank-page.png') no-repeat;
            }
            .docs-icon {
                background: url('../img/blue/sidebar-left-icons/docs.png') no-repeat;
            }
        }
        .right-Sidebar__link:hover {
            @extend %color-blue-1;
        }
    }


    // MAIN CONTENT STYLES
    //
    .currentPage__page:hover {
        @extend %color-blue-1;
    }
    // View Icons hover
    .view-icon-1:hover {
        background: url('../img/blue/view-icons/view1.png');
    }
    .view-icon-2:hover {
        background: url('../img/blue/view-icons/view2.png');
    }
    .view-icon-3:hover {
        background: url('../img/blue/view-icons/view3.png');
    }
    // btn add new
    .btn-add-new {
        @extend %background-blue;
        &:hover {
            background: darken(#145388, 10%);
        }
    }
    // btn checkbox
    .btn-checkbox {
        @extend %background-blue;
    }
    // btn dropdown
    .btn-dropdown {
        @extend %background-blue;
        &:hover {
            background: darken(#145388, 10%);
        }
    }
    // btn orderlist
    .btn-orderList:hover {
        @extend %background-blue;
    }
    // btn maxItems
    .btn-maxItems:hover {
        @extend %background-blue;
    }
    // MAIN CONTENT DINAMIC STYLES
    //
    .dinamicContent__boxDesc {
        .dinamicContent__badge {
            .badge1 {
                @extend %background-blue2;
            }
            .badge2 {
                @extend %background-blue;
            }
        }
        .btn-select {
            input[type="checkbox"]:checked + label::before {
                @extend %background-blue;
            }
        }
    }
    // MAIN CONTENT FOOTER STYLES
    //
    .main__footer {
        .btn-disabled-1, .btn-disabled-2 {
            @extend %border-blue;
        }

        .btn-disabled-1 {
            background: url('../img/blue/icons-page-navigation/first.png') no-repeat;
            background-position: center center;
        }
    
        .btn-disabled-2 {
            background: url('../img/blue/icons-page-navigation/prev.png') no-repeat;
            background-position: center center;
        }
    
        .btn-activated-1, .btn-activated-2 {
            @extend %border-blue;
        }
    
        .btn-activated-1 {
            background-color: #145388;
        }
    
        .btn-activated-2 {
            background: url('../img/blue/icons-page-navigation/last.png') no-repeat;
            background-position: center center;
            &:hover {
                background-color: #145388;
            }
        }
    
        .main__numPage:hover {
            @extend %border-blue-color;
        }
    }


    // CHANGE THEME CONTENT STYLES
    .changeTheme {
        .changeTheme__button {
            background: url('../img/blue/change-theme.png') no-repeat;
            background-position: center center;
        }
    }
}