$theme-name: 'orange';

.#{$theme-name} {
    // HEADER CONTENT STYLES
    //
    // Header btn-buy
    .btn-buy__button {
        @extend %border-orange;
        @extend %color-orange-1;
        &:hover {
            @extend %background-orange;
        }
    }
    // Header search
    .search {
        .search__button:hover {
            background: url('../img/orange/header-icons/search.png') no-repeat;
            background-position: center center;
        }
    }
    // Header small icons
    .grid-list__icon:hover {
        background: url('../img/orange/header-icons/list.png') no-repeat;
    }
    // grid content
    .grid-list__content {
        .grid-list__link:hover {
            .grid-list__name {
                @extend %color-orange-1;
            }
            .grid-list__img-dashboards {
                background: url('../img/orange/icons-grid/dashboard.png');
                background-size: contain;
            }
            .grid-list__img-ui {
                background: url('../img/orange/icons-grid/ui.png');
                background-size: contain;
            }
            .grid-list__img-charts {
                background: url('../img/orange/icons-grid/charts.png');
                background-size: contain;
            }
            .grid-list__img-chat {
                background: url('../img/orange/icons-grid/chat.png');
                background-size: contain;
            }
            .grid-list__img-survey {
                background: url('../img/orange/icons-grid/survey.png');
                background-size: contain;
            }
            .grid-list__img-to-do-List {
                background: url('../img/orange/icons-grid/to-do-list.png');
                background-size: contain;
            }
        }
    }
    // icon bell
    .bell-list__icon {
        .bell-list__alert {
            @extend %border-orange;
            @extend %color-orange-1;
        }
        &:hover {
            background: url('../img/orange/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }
    // bell content
    .bell-list__content {
        .bell-list__item {
            .bell-list__link:hover .bell-list__text {
                @extend %color-orange-1;
            }
        }
    }
    // icon full screen
    .smallIcon__img-fullscreen:hover {
        background: url('../img/orange/header-icons/resize.png') no-repeat;
        background-position: center center;
    }


    // ASIDE CONTENT STYLES
    //
    .aside {
        .left-Sidebar__link:hover {
            @extend %color-orange-1;
            .dashboard-icon {
                background: url('../img/orange/sidebar-left-icons/dashboard.png') no-repeat;
            }
            .pages-icon {
                background: url('../img/orange/sidebar-left-icons/pages.png') no-repeat;
            }
            .application-icon {
                background: url('../img/orange/sidebar-left-icons/applications.png')no-repeat;
            }
            .ui-icon {
                background: url('../img/orange/sidebar-left-icons/ui.png') no-repeat;
            }
            .menu-icon {
                background: url('../img/orange/sidebar-left-icons/menu.png') no-repeat;
            }
            .blankpage-icon {
                background: url('../img/orange/sidebar-left-icons/blank-page.png') no-repeat;
            }
            .docs-icon {
                background: url('../img/orange/sidebar-left-icons/docs.png') no-repeat;
            }
        }
        .right-Sidebar__link:hover {
            @extend %color-orange-1;
        }
    }
    

    // MAIN CONTENT STYLES
    //
    .currentPage__page:hover {
        @extend %color-orange-1;
    }
    // View Icons
    .view-icon-1.is-view1 {
        background: url('../img/orange/view-icons/view1.png');
    }
    .view-icon-1:hover {
        background: url('../img/orange/view-icons/view1.png');
    }
    .view-icon-2.is-view2 {
        background: url('../img/orange/view-icons/view2.png');
    }
    .view-icon-2:hover {
        background: url('../img/orange/view-icons/view2.png');
    }
    .view-icon-3.is-view3 {
        background: url('../img/orange/view-icons/view3.png');
    }
    .view-icon-3:hover {
        background: url('../img/orange/view-icons/view3.png');
    }
    // btn add new
    .btn-add-new {
        @extend %background-orange;
        &:hover {
            background: darken(#E2863B, 10%);
        }
    }
    // btn checkbox
    .btn-checkbox {
        @extend %background-orange;
    }
    // btn dropdown
    .btn-dropdown {
        @extend %background-orange;
        &:hover {
            background: darken(#E2863B, 10%);
        }
    }
    // btn order list
    .order-list__button:hover {
        @extend %background-orange;
    }
    .order-list__button.is-active {
        @extend %background-orange;
        @extend %color-light-default-4;
        @extend %border-transparent;
        &:after {
            border-top-color: #FFF;
        }
    }
    // order list content 
    .order-list__content {
        .order-list__item:hover {
            @extend %background-orange;
        }
    }
    // btn maxItems
    .max-items-list__button:hover {
        @extend %background-orange;
    }
    .max-items-list__button.is-active {
        @extend %background-orange;
        @extend %border-transparent;
        @extend %color-light-default-4;
        &:after {
            border-top-color: #FFF;
        }
    }
    // max items content
    .max-items-list__content {
        .max-items-list__items:hover {
            @extend %background-orange;
        }
    }
    // MAIN CONTENT DINAMIC STYLES
    //
    .dinamicContent__boxDesc {
        .dinamicContent__badge {
            .badge1 {
                @extend %background-orange2;
            }
            .badge2 {
                @extend %background-orange;
            }
        }
        .btn-select {
            input[type="checkbox"]:checked + label::before {
                @extend %background-orange;
            }
        }
    }
    // MAIN CONTENT FOOTER STYLES
    //
    .main__footer {
        .btn-disabled-1, .btn-disabled-2 {
            @extend %border-orange;
        }

        .btn-disabled-1 {
            background: url('../img/orange/icons-page-navigation/first.png') no-repeat;
            background-position: center center;
        }
    
        .btn-disabled-2 {
            background: url('../img/orange/icons-page-navigation/prev.png') no-repeat;
            background-position: center center;
        }
    
        .btn-activated-1, .btn-activated-2 {
            @extend %border-orange;
        }
    
        .btn-activated-1 {
            background-color: #E2863B;
        }
    
        .btn-activated-2 {
            background: url('../img/orange/icons-page-navigation/last.png') no-repeat;
            background-position: center center;
            &:hover {
                background-color: #E2863B;
            }
        }
    
        .main__numPage:hover {
            @extend %border-orange-color;
        }
    }


    // CHANGE THEME CONTENT STYLES
    .changeTheme {
        .changeTheme__button {
            background: url('../img/orange/change-theme.png') no-repeat;
            background-position: center center;
        }
    }


    // add-new modal form 
    .add-new__form {
        input[type="text"]:focus,
        textarea[name="description"]:focus {
            @extend %border-orange;
        }
        .add-new__category-box.is-active {
            border-color: #E2863B;
        }
        .add-new__category-box {
            .add-new__btn-indicator:hover:before {
                border-top-color: #E2863B;
            }
        }
        .add-new__category-content {
            @extend %border-orange;
            .add-new__list:hover {
                @extend %background-orange;
            }
        }
        .add-new__status {
            input[type="radio"]:checked + label:before {
                border-color: #E2863B;
                box-shadow: inset 0px 0px 0px 5px #E2863B;
            }
        }
    }
    .add-new__footer {
        .add-new__btn-cancel {
            @extend %border-orange2;
            @extend %color-orange-2;
            &:hover {
                @extend %background-orange2;
            }
        }
        .add-new__btn-submit {
            background: #E2863B;
            &:hover {
                background: darken(#E2863B, 10%);
            }
        }
    }
}