$theme-name: 't-dark-red';

.#{$theme-name} {
    @extend %background-dark-color-1;
    .header {
        @extend %background-dark-color-2;
        .search__field {
            @extend %background-dark-input;
        }
        .langButton__button {
            @extend %background-dark-input;
            @extend %color-dark-default-2;
            &::after {
                @extend %langButton-dark-borderTop;
            }
        }
        .button1__button {
            @extend %border-red;
            @extend %color-red-2;
            &:hover {
                @extend %background-red;
                @extend %button1-dark-hover-color;
            }
        }
        .logo {
            background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-white.svg') no-repeat;
            background-position: center center;
            @include device(xxsmall) {
                background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-mobile.svg') no-repeat;
            }
        }

        .imageButton__name {
            // Tipografia
            @extend %color-dark-default-1;
        }
    }

    // Header
    .search__button:hover {
        background: url('../img/theme-dark-red/header-icons/search.png') no-repeat;
        background-position: center center;
    }

    // Header
    .smallIcon__img-grid:hover {
        background: url('../img/theme-dark-red/header-icons/list.png') no-repeat;
    }
    
    // Header
    .smallIcon__img-bell {
        .smallIcon__bell-alert {
            @extend %border-red;
            @extend %color-red-2;
        }
        &:hover {
            background: url('../img/theme-dark-red/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }

    // Header
    .smallIcon__img-fullscreen:hover {
        background: url('../img/theme-dark-red/header-icons/resize.png') no-repeat;
        background-position: center center;
    }



    // Aside
    .aside {
        .aside__left-Sidebar {
            @extend %background-dark-color-2;
            @extend %border1-right-dark-1px;
            .left-Sidebar__containerLink {
                @extend %border2-bottom-dark-1px;
            }
            .left-Sidebar__link {
                @extend %color-dark-default-1;
                .dashboard-icon {
                    background: url('../img/theme-dark-red/default-left-sidebar/dashboard.png') no-repeat;
                }
                .pages-icon {
                    background: url('../img/theme-dark-red/default-left-sidebar/pages.png') no-repeat;
                }
                .application-icon {
                    background: url('../img/theme-dark-red/default-left-sidebar/applications.png') no-repeat;
                }
                .ui-icon {
                    background: url('../img/theme-dark-red/default-left-sidebar/ui.png') no-repeat;
                }
                .menu-icon {
                    background: url('../img/theme-dark-red/default-left-sidebar/menu.png') no-repeat;
                }
                .blankpage-icon {
                    background: url('../img/theme-dark-red/default-left-sidebar/blank-page.png') no-repeat;
                }
                .docs-icon {
                    background: url('../img/theme-dark-red/default-left-sidebar/docs.png') no-repeat;
                }
            }
            .left-Sidebar__link:hover {
                @extend %color-red-2;
                @extend %background-dark-color-1;
                .dashboard-icon {
                    background: url('../img/theme-light-red/sidebar-left-icons/dashboard.png') no-repeat;
                }
                .pages-icon {
                    background: url('../img/theme-light-red/sidebar-left-icons/pages.png') no-repeat;
                }
                .application-icon {
                    background: url('../img/theme-light-red/sidebar-left-icons/applications.png') no-repeat;
                }
                .ui-icon {
                    background: url('../img/theme-light-red/sidebar-left-icons/ui.png') no-repeat;
                }
                .menu-icon {
                    background: url('../img/theme-light-red/sidebar-left-icons/menu.png') no-repeat;
                }
                .blankpage-icon {
                    background: url('../img/theme-light-red/sidebar-left-icons/blank-page.png') no-repeat;
                }
                .docs-icon {
                    background: url('../img/theme-light-red/sidebar-left-icons/docs.png') no-repeat;
                }
            }
        }


        // Right Styles >>>>>
        .aside__right-Sidebar {
            @extend %background-dark-color-2;
            @extend %color-dark-default-1;
            .right-Sidebar__link {
                @extend %color-dark-default-1;
                &:hover {
                    @extend %color-red-2;
                }
            }
        }
    }



    // Change theme
    .changeTheme {
        .changeTheme__button {
            background-color: #232223;
            background: url('../img/theme-dark-red/change-theme.png') no-repeat;
            background-position: center center;
            }
        .changeTheme__list {
            @extend %background-dark-color-2;
        }
    }
}