$theme-name: 't-dark-green';

.#{$theme-name} {
    @extend %background-dark-color-1;
    .header {
        @extend %background-dark-color-2;
        .search__field {
            @extend %background-dark-input;
        }
        .langButton__button {
            @extend %background-dark-input;
            @extend %color-dark-default-2;
            &::after {
                @extend %langButton-dark-borderTop;
            }
        }
        .btn-buy__button {
            @extend %border-green;
            @extend %color-green-1;
            &:hover {
                @extend %background-green;
                @extend %btn-buy-dark-hover-color;
            }
        }
        .logo {
            background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-white.svg') no-repeat;
            background-position: center center;
            @include device(xxsmall) {
                background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-mobile.svg') no-repeat;
            }
        }

        .imageButton__name {
            // Tipografia
            @extend %color-dark-default-1;
        }
    }

    // Header
    .search {
        .search__button:hover {
            background: url('../img/theme-dark-green/header-icons/search.png') no-repeat;
            background-position: center center;
        }
    }
    

    // Header
    .smallIcon__img-grid:hover {
        background: url('../img/theme-dark-green/header-icons/list.png') no-repeat;
    }
    
    // Header
    .smallIcon__img-bell {
        .smallIcon__bell-alert {
            @extend %border-green;
            @extend %color-green-1;
        }
        &:hover {
            background: url('../img/theme-dark-green/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }

    // Header
    .smallIcon__img-fullscreen:hover {
        background: url('../img/theme-dark-green/header-icons/resize.png') no-repeat;
        background-position: center center;
    }



    // Aside
    .aside {
        .aside__left-Sidebar {
            @extend %background-dark-color-2;
            @extend %border1-right-dark-1px;
            .left-Sidebar__containerLink {
                @extend %border2-bottom-dark-1px;
            }
            .left-Sidebar__link {
                @extend %color-dark-default-1;
                .dashboard-icon {
                    background: url('../img/theme-dark-green/default-left-sidebar/dashboard.png') no-repeat;
                }
                .pages-icon {
                    background: url('../img/theme-dark-green/default-left-sidebar/pages.png') no-repeat;
                }
                .application-icon {
                    background: url('../img/theme-dark-green/default-left-sidebar/applications.png') no-repeat;
                }
                .ui-icon {
                    background: url('../img/theme-dark-green/default-left-sidebar/ui.png') no-repeat;
                }
                .menu-icon {
                    background: url('../img/theme-dark-green/default-left-sidebar/menu.png') no-repeat;
                }
                .blankpage-icon {
                    background: url('../img/theme-dark-green/default-left-sidebar/blank-page.png') no-repeat;
                }
                .docs-icon {
                    background: url('../img/theme-dark-green/default-left-sidebar/docs.png') no-repeat;
                }
            }
            .left-Sidebar__link:hover {
                @extend %color-green-1;
                @extend %background-dark-color-1;
                .dashboard-icon {
                    background: url('../img/theme-light-green/sidebar-left-icons/dashboard.png') no-repeat;
                }
                .pages-icon {
                    background: url('../img/theme-light-green/sidebar-left-icons/pages.png') no-repeat;
                }
                .application-icon {
                    background: url('../img/theme-light-green/sidebar-left-icons/applications.png') no-repeat;
                }
                .ui-icon {
                    background: url('../img/theme-light-green/sidebar-left-icons/ui.png') no-repeat;
                }
                .menu-icon {
                    background: url('../img/theme-light-green/sidebar-left-icons/menu.png') no-repeat;
                }
                .blankpage-icon {
                    background: url('../img/theme-light-green/sidebar-left-icons/blank-page.png') no-repeat;
                }
                .docs-icon {
                    background: url('../img/theme-light-green/sidebar-left-icons/docs.png') no-repeat;
                }
            }
        }


        // Right Styles >>>>>
        .aside__right-Sidebar {
            @extend %background-dark-color-2;
            @extend %color-dark-default-1;
            .right-Sidebar__link {
                @extend %color-dark-default-1;
                &:hover {
                    @extend %color-green-1;
                }
            }
        }
    }



    // Main content styles >>>>

    // Title / CurrentPage main
    .title {
        @extend %color-dark-default-1;
    }
    .currentPage {
        .currentPage__page {
            @extend %color-dark-default-1;
            &:hover {
                @extend %color-green-1;
            }
        }
    }

    // View Icons hover: 
    .view-icon-1:hover {
        background: url('../img/theme-dark-green/view-icons/view1.png');
    }
    .view-icon-2:hover {
        background: url('../img/theme-dark-green/view-icons/view2.png');
    }
    .view-icon-3:hover {
        background: url('../img/theme-dark-green/view-icons/view3.png');
    }

    // Btn's do main content
    .btn-add-new {
        @extend %background-green;
        &:hover {
            background: darken(#576A3D, 10%);
        }
    }

    .btn-checkbox {
        @extend %background-green;
    }

    .btn-dropdown {
        @extend %background-green;
        &:hover {
            background: darken(#576A3D, 10%);
        }
    }

    .btn-orderList {
        @extend %background-dark-color-1;
        &:hover {
            @extend %background-green;
        }
    }

    .smallSearch {
        .search__field {
            @extend %background-dark-color-1;
        }
    }

    .btn-maxItems {
        @extend %background-dark-color-1;
        &:hover {
            @extend %background-green;
        }
    }

    


    // >>>>>> DINAMIC STYLES >>>>>>>>>>
    .dinamicContent {
        .dinamicContent__section {
            @extend %background-dark-color-2;
            .dinamicContent__title {
                @extend %color-dark-default-1;
            }
            .dinamicContent__category {
                @extend %color-dark-default-2;
            }
            .dinamicContent__date {
                @extend %color-dark-default-2;
            }
        }
    }
    .dinamicContent__boxDesc {
        .dinamicContent__badge {
            .badge1 {
                @extend %background-green2;
            }
            .badge2 {
                @extend %background-green;
            }
        }
        .btn-select {
            input[type="checkbox"]:checked + label::before {
                @extend %background-green;
            }
        }
    }



    // Footer Main content >>>>>>>>>>>>>>>>
    .main__footer {
        .btn-disabled-1, .btn-disabled-2 {
            @extend %border-green;
            opacity: .4;
        }

        .btn-disabled-1 {
            background: url('../img/theme-dark-green/icons-page-navigation/first.png') no-repeat;
            background-position: center center;
        }
    
        .btn-disabled-2 {
            background: url('../img/theme-dark-green/icons-page-navigation/prev.png') no-repeat;
            background-position: center center;
        }
    
        .btn-activated-1, .btn-activated-2 {
            @extend %border-green;
        }
    
        .btn-activated-1 {
            background-color: #576A3D;
            &:hover {
                background: url('../img/theme-dark-green/icons-page-navigation/next-hover.png') no-repeat;
                background-position: center center;
                background-color: #1B191B;
            }
        }
    
        .btn-activated-2 {
            background: url('../img/theme-dark-green/icons-page-navigation/last.png') no-repeat;
            background-position: center center;
            background-color: #1B191B;
            &:hover {
                background-color: #576A3D;
            }
        }
    
        .main__numPage {
            @extend %color-dark-default-2;
            &:hover {
            @extend %border-green-color;
            }
        }
    }



    // Change Theme
    .changeTheme {
        .changeTheme__button {
            background: url('../img/theme-dark-green/change-theme.png') no-repeat;
            background-position: center center;
            background-color: #232223;
        }
        .changeTheme__list {
            @extend %background-dark-color-2;
        }
    }
}