$theme-name: 't-light-blue';

.#{$theme-name} {

    // Header
    .search__button:hover {
        background: url('../img/theme-light-blue/header-icons/search.png') no-repeat;
        background-position: center center;
    }

    // Header
    .button1__button {
        @extend %border-blue;
        @extend %color-blue-1;
        &:hover {
            @extend %background-blue;
        }
    }

    // Header
    .smallIcon__img-grid:hover {
        background: url('../img/theme-light-blue/header-icons/list.png') no-repeat;
    }

    // Header
    .smallIcon__img-bell {
        .smallIcon__bell-alert {
            @extend %border-blue;
            @extend %color-blue-1;
        }
        &:hover {
            background: url('../img/theme-light-blue/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }

    // Header
    .smallIcon__img-fullscreen:hover {
        background: url('../img/theme-light-blue/header-icons/resize.png') no-repeat;
        background-position: center center;
    }

    // Aside
    .aside {
        .left-Sidebar__link:hover {
            @extend %color-blue-1;
            .dashboard-icon {
                background: url('../img/theme-light-blue/sidebar-left-icons/dashboard.png') no-repeat;
            }
            .pages-icon {
                background: url('../img/theme-light-blue/sidebar-left-icons/pages.png') no-repeat;
            }
            .application-icon {
                background: url('../img/theme-light-blue/sidebar-left-icons/applications.png') no-repeat;
            }
            .ui-icon {
                background: url('../img/theme-light-blue/sidebar-left-icons/ui.png') no-repeat;
            }
            .menu-icon {
                background: url('../img/theme-light-blue/sidebar-left-icons/menu.png') no-repeat;
            }
            .blankpage-icon {
                background: url('../img/theme-light-blue/sidebar-left-icons/blank-page.png') no-repeat;
            }
            .docs-icon {
                background: url('../img/theme-light-blue/sidebar-left-icons/docs.png') no-repeat;
            }
        }

        // Right Styles >>>>>
        .right-Sidebar__link:hover {
            @extend %color-blue-1;
        }
    }

    // Change Theme
    .changeTheme {
        .changeTheme__button {
            background: url('../img/theme-light-blue/change-theme.png') no-repeat;
            background-position: center center;
        }
    }
}