$theme-name: 't-light-orange';

.#{$theme-name} {
    .search__button:hover {
        background: url('../img/theme-light-orange/header-icons/search.png') no-repeat;
        background-position: center center;
    }

    .button1__button {
        @extend %border-orange;
        @extend %color-orange-1;
        &:hover {
            @extend %background-orange;
        }
    }

    .smallIcon__img-grid:hover {
        background: url('../img/theme-light-orange/header-icons/list.png') no-repeat;
    }
    .smallIcon__img-bell {
        .smallIcon__bell-alert {
            @extend %border-orange;
            @extend %color-orange-1;
        }
        &:hover {
            background: url('../img/theme-light-orange/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }

    .smallIcon__img-fullscreen:hover {
        background: url('../img/theme-light-orange/header-icons/resize.png') no-repeat;
        background-position: center center;
    }


    .changeTheme {
        .changeTheme__button {
            background: url('../img/theme-light-orange/change-theme.png') no-repeat;
            background-position: center center;
        }
    }
}