$theme-name: 't-light';

.#{$theme-name} {
    // body background change
    @extend %background-light-default-1;
    // header background change
    .header {
        @extend %background-light-default-2;
        // search field background change
        .search {
            .search__field {
                @extend %background-light-default-1;
            }
        }
        // lang-button style
        .langButton__button {
            @extend %background-light-default-1;
            @extend %color-light-default-2;
            &::after {
                border-top: 5px solid #8F8F8F;
            }
            &.is-active {
                background-color: #dae0e5;
                color: #212529;
                &::after {
                    border-top-color: #212529;
                }
            }
        }
        // lang content style
        .langContent {
            @extend %border-light-default-1;
            @extend %background-light-default-2;
            .langContent__btn {
                @extend %color-light-default-2;
                &:hover {
                    @extend %background-light-default-1;
                }
            }
        }
        // logo background image change
        .logo {
            background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-black.svg') no-repeat;
            background-position: center center;
            @include device(xxsmall) {
                width: 20px;
                height: 35px;
                background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-mobile.svg') 
                no-repeat;
            }
        }
        // btn-buy color change
        .btn-buy__button:hover {
            @extend %color-light-default-4;
        }
        // image-button color change
        .imageButton__name {
            @extend %color-light-default-1;
        }
    }
    
    // ASIDE CONTENT STYLES
    //
    // aside left-sidebar style
    .aside__left-Sidebar {
        @extend %background-light-default-2;
        @extend %border-light-right-default-1;
        .left-Sidebar__containerLink {
            @extend %border-light-bottom-default-1;
        }
        .left-Sidebar__link {
            @extend %color-light-default-1;
            &:hover {
                @extend %background-light-default-1;
            }
        }
    }
    // aside right-sidebar style
    .aside__right-Sidebar {
        @extend %background-light-default-2;
        .right-Sidebar__link {
            @extend %color-light-default-1;
        }
    }
    // aside icones
    .dashboard-icon {
        background: url('../img/theme-light/default-left-sidebar/dashboard.png') no-repeat;
    }
    .pages-icon {
        background: url('../img/theme-light/default-left-sidebar/pages.png') no-repeat;
    }
    .application-icon {
        background: url('../img/theme-light/default-left-sidebar/applications.png') no-repeat;
    }
    .ui-icon {
        background: url('../img/theme-light/default-left-sidebar/ui.png') no-repeat;
    }
    .menu-icon {
        background: url('../img/theme-light/default-left-sidebar/menu.png') no-repeat;
    }
    .blankpage-icon {
        background: url('../img/theme-light/default-left-sidebar/blank-page.png') no-repeat;
    }
    .docs-icon {
        background: url('../img/theme-light/default-left-sidebar/docs.png') no-repeat;
    }




    // MAIN CONTENT STYLES
    //
    // main content title color
    .title {
        @extend %color-light-default-1;
    }
    // main content current page color
    .currentPage__page {
        @extend %color-light-default-1;
    }
    // main content btn-orderlist background color
    .btn-orderList {
        @extend %background-light-default-1;
    }
    // main content small search background color
    .smallSearch {
        .search__field {
            @extend %background-light-default-1;
        }
    }
    // main content btn max items background color
    .btn-maxItems {
        @extend %background-light-default-1;
    }


    // DINAMIC CONTENT STYLES
    //
    .dinamicContent__section {
        @extend %background-light-default-2;
        .dinamicContent__title {
            @extend %color-light-default-1;
        }
        .dinamicContent__category {
            @extend %color-light-default-3;
        }
        .dinamicContent__date {
            @extend %color-light-default-3;
        }
    }


    // MAIN CONTENT FOOTER
    //
    .btn-disabled-1, .btn-disabled-2 {
        opacity: .2;
    }
    // btn activated-1 hover
    .btn-activated-1:hover {
        background-color: #FFF;
    }
    // btn activated-2 background color
    .btn-activated-2 {
        background-color: #FFF;
    }

    // CHANGE THEME CONTENT 
    //
    .changeTheme {
        .changeTheme__button {
            background-color: #FFF;
        }
        .changeTheme__list {
            @extend %background-light-default-2;
        }
    }
}