$theme-name: 't-light-red';

.#{$theme-name} {
    // Header
    .search__button:hover {
        background: url('../img/theme-light-red/header-icons/search.png') no-repeat;
        background-position: center center;
    }

    // Header
    .btn-buy__button {
        @extend %border-red;
        @extend %color-red-2;
        &:hover {
            @extend %background-red;
        }
    }

    // Header
    .smallIcon__img-grid:hover {
        background: url('../img/theme-light-red/header-icons/list.png') no-repeat;
    }

    // Header
    .smallIcon__img-bell {
        .smallIcon__bell-alert {
            @extend %border-red;
            @extend %color-red-2;
        }
        &:hover {
            background: url('../img/theme-light-red/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }

    // Header
    .smallIcon__img-fullscreen:hover {
        background: url('../img/theme-light-red/header-icons/resize.png') no-repeat;
        background-position: center center;
    }

    // Aside
    .aside {
        .left-Sidebar__link:hover {
            @extend %color-red-2;
            .dashboard-icon {
                background: url('../img/theme-light-red/sidebar-left-icons/dashboard.png') no-repeat;
            }
            .pages-icon {
                background: url('../img/theme-light-red/sidebar-left-icons/pages.png') no-repeat;
            }
            .application-icon {
                background: url('../img/theme-light-red/sidebar-left-icons/applications.png') no-repeat;
            }
            .ui-icon {
                background: url('../img/theme-light-red/sidebar-left-icons/ui.png') no-repeat;
            }
            .menu-icon {
                background: url('../img/theme-light-red/sidebar-left-icons/menu.png') no-repeat;
            }
            .blankpage-icon {
                background: url('../img/theme-light-red/sidebar-left-icons/blank-page.png') no-repeat;
            }
            .docs-icon {
                background: url('../img/theme-light-red/sidebar-left-icons/docs.png') no-repeat;
            }
        }


        // Right Styles >>>>>
        .right-Sidebar__link:hover {
            @extend %color-red-2;
        }
    }

    // Main content styles >>>>

    // Title / CurrentPage main
    .currentPage {
        .currentPage__page {
            &:hover {
                @extend %color-red-2;
            }
        }
    }

    // View Icons hover: 
    .view-icon-1:hover {
        background: url('../img/theme-light-red/view-icons/view1.png');
    }
    .view-icon-2:hover {
        background: url('../img/theme-light-red/view-icons/view2.png');
    }
    .view-icon-3:hover {
        background: url('../img/theme-light-red/view-icons/view3.png');
    }

    // Btn's do main content
    .btn-add-new {
        @extend %background-red;
        &:hover {
            background: darken(#880A1F, 10%);
        }
    }

    .btn-checkbox {
        @extend %background-red;
    }

    .btn-dropdown {
        @extend %background-red;
        &:hover {
            background: darken(#880A1F, 10%);
        }
    }

    .btn-orderList:hover {
        @extend %background-red;
    }

    .btn-maxItems:hover {
        @extend %background-red;
    }

    


    // Change Theme
    .changeTheme {
        .changeTheme__button {
            background: url('../img/theme-light-red/change-theme.png') no-repeat;
            background-position: center center;
        }
    }
}