$theme-name: 't-dark';

.#{$theme-name} {
    // body background change
    @extend %background-dark-default-1;

    //
    .header, .langContent, .grid-list__content, .bell-list__content,
    .user-list__content, .aside__left-Sidebar, .aside__right-Sidebar,
    .order-list__content, .max-items-list__content, .dinamicContent__section,
    .changeTheme__list {
        @extend %background-dark-default-2;
    }
    //

    //
    .search__field, .langButton__button, .langContent__btn:hover,
    .user-list__link:hover, .left-Sidebar__link:hover, .order-list__button,
    .max-items-list__button {
        @extend %background-dark-default-1;
    }
    //

    //
    .bell-list__date, .langButton__button, .langContent__btn, .order-list__item,
    .max-items-list__items {
        @extend %color-dark-default-2;
    }
    //

    //
    .langContent, .grid-list__content, .bell-list__content,
    .user-list__content, .order-list__content, .max-items-list__content {
        @extend %border-dark-default-1;
    }
    // 

    //
    .btn-buy__button:hover {
        @extend %color-dark-default-3;
    }
    //

    //
    .bell-list__text, .user-list__name, .user-list__link,
    .left-Sidebar__link, .right-Sidebar__link, .title,
    .currentPage__page, .dinamicContent__title, .langContent__btn,
    .grid-list__link, .aside__right-Sidebar, .order-list__item {
        @extend %color-dark-default-1;
    }
    //

    //
    .bell-list__text, .dinamicContent__category, .dinamicContent__date, .max-items-list__items {
        @extend %color-light-default-2;
    }
    //

    //
    .order-list__item:hover, .max-items-list__items:hover, .dinamicContent__badge {
        @extend %color-light-default-4;
    }
    //

    .header {
        // lang-button style
        .langButton__button {
            &::after {
                border-top: 5px solid #757575;
            }
            &.is-active {
                background-color: #DAE0E5;
                color: #212529;
                &::after {
                    border-top-color: #212529;
                }
            }
        }
        // logo background image change
        .logo {
            background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-white.svg') no-repeat;
            background-position: center center;
            @include device(xxsmall) {
                width: 20px;
                height: 35px;
                background: url('https://gogo-react.coloredstrategies.com/assets/img/logo-mobile.svg') 
                no-repeat;
            }
        }
        // grid list content
        .grid-list__content {
            .grid-list__link {
                
            }
            .grid-list__img-dashboards {
                background: url('../img/theme-dark/icons-grid/dashboard.png') no-repeat;
                background-position: center center;
                background-size: contain;
                width: 28px;
                height: 28px;
            }
            .grid-list__img-ui {
                background: url('../img/theme-dark/icons-grid/ui.png') no-repeat;
                background-position: center center;
                background-size: contain;
                width: 28px;
                height: 28px;
            }
            .grid-list__img-charts {
                background: url('../img/theme-dark/icons-grid/charts.png') no-repeat;
                background-position: center center;
                background-size: contain;
                width: 28px;
                height: 28px;
            }
            .grid-list__img-chat {
                background: url('../img/theme-dark/icons-grid/chat.png') no-repeat;
                background-position: center center;
                background-size: contain;
                width: 28px;
                height: 28px;
            }
            .grid-list__img-survey {
                background: url('../img/theme-dark/icons-grid/survey.png') no-repeat;
                background-position: center center;
                background-size: contain;
                width: 28px;
                height: 28px;
            }
            .grid-list__img-to-do-List {
                background: url('../img/theme-dark/icons-grid/to-do-list.png') no-repeat;
                background-position: center center;
                background-size: contain;
                width: 28px;
                height: 28px;
            }
        }
        // bell list content
        .bell-list__content {
            &::-webkit-scrollbar-thumb {
                background: #424242;
            }
            .bell-list__item {
                @extend %border-dark-bottom-default-1;
            }
        }
        .user-list__item:nth-child(5) {
            border-top: 1px solid #313131;
        }
    }

    // ASIDE CONTENT STYLES
    //
    // aside left-sidebar style
    .aside__left-Sidebar {
        @extend %border-dark-right-default-1;
        .left-Sidebar__containerLink {
            @extend %border-dark-bottom-default-1;
        }
    }
    .left-Sidebar__list {
        &::-webkit-scrollbar-thumb {
            background: #424242;
        }
    }
    .right-Sidebar__list {
        &::-webkit-scrollbar-thumb {
            background: #424242;
        }
    }
    // aside icones
    .dashboard-icon {
        background: url('../img/theme-dark/default-left-sidebar/dashboard.png') no-repeat;
    }
    .pages-icon {
        background: url('../img/theme-dark/default-left-sidebar/pages.png') no-repeat;
    }
    .application-icon {
        background: url('../img/theme-dark/default-left-sidebar/applications.png') no-repeat;
    }
    .ui-icon {
        background: url('../img/theme-dark/default-left-sidebar/ui.png') no-repeat;
    }
    .menu-icon {
        background: url('../img/theme-dark/default-left-sidebar/menu.png') no-repeat;
    }
    .blankpage-icon {
        background: url('../img/theme-dark/default-left-sidebar/blank-page.png') no-repeat;
    }
    .docs-icon {
        background: url('../img/theme-dark/default-left-sidebar/docs.png') no-repeat;
    }

    // MAIN CONTENT FOOTER
    //
    .dropdown__content {
        @extend %background-dark-default-2;
        @extend %border-dark-default-1;
        .dropdown__item {
            @extend %color-dark-default-1;
            &:hover {
                @extend %background-dark-default-1;
            }
        }
    }
    .main__numPage {
        @extend %color-dark-default-1;
    }
    .btn-disabled-1, .btn-disabled-2 {
        opacity: .4;
    }
    // btn activated-1 hover
    .btn-activated-1:hover {
        background-color: #1B191B;
    }
    // btn activated-2 background color
    .btn-activated-2 {
        background-color: #1B191B;
    }

    // CHANGE THEME CONTENT 
    //
    .changeTheme {
        .changeTheme__button {
            background-color: #232223;
        }
    }


    // add-new modal 
    .add-new__header {
        @extend %background-dark-default-2;
        @extend %border-dark-bottom-default-2;
        .add-new__title {
            @extend %color-dark-default-1;
        }
        .add-new__btn-exit {
            @extend %color-dark-default-1;
            &:hover {
                color: lighten(#969696, 10%);
            }
        }
    }
    .add-new__form {
        @extend %background-dark-default-2;
        @extend %border-dark-bottom-default-2;
        @extend %color-dark-default-1;
        .input-box {
            @extend %color-dark-default-1;
            @extend %border-dark-default-2;
        }
        .add-new__category-box {
            .add-new__category-input {
                @extend %color-dark-default-1;
            }
        }
        .add-new__category-content {
            .add-new__list {
                @extend %color-dark-default-1;
                &:hover {
                    @extend %color-light-default-4;
                }
            }
        }
        textarea[name="description"] {
            @extend %border-dark-default-2;
            @extend %color-dark-default-1;
        }
    }
    .add-new__footer {
        @extend %background-dark-default-2;
        .add-new__btn-cancel:hover {
            @extend %color-dark-default-3;
        }
    }
}