$theme-name: 't-light-purple';

.#{$theme-name} {
    // Header
    .search__button:hover {
        background: url('../img/theme-light-purple/header-icons/search.png') no-repeat;
        background-position: center center;
    }

    // Header
    .button1__button {
        @extend %border-purple;
        @extend %color-purple-1;
        &:hover {
            @extend %background-purple;
        }
    }

    // Header
    .smallIcon__img-grid:hover {
        background: url('../img/theme-light-purple/header-icons/list.png') no-repeat;
    }

    // Header
    .smallIcon__img-bell {
        .smallIcon__bell-alert {
            @extend %border-purple;
            @extend %color-purple-1;
        }
        &:hover {
            background: url('../img/theme-light-purple/header-icons/bell.png') no-repeat;
            background-size: contain;
        }
    }

    // Header
    .smallIcon__img-fullscreen:hover {
        background: url('../img/theme-light-purple/header-icons/resize.png') no-repeat;
        background-position: center center;
    }


    // Aside
    .aside {
        .left-Sidebar__link:hover {
            .dashboard-icon {
                background: url('../img/theme-light-purple/sidebar-left-icons/dashboard.png') no-repeat;
            }
            .pages-icon {
                background: url('../img/theme-light-purple/sidebar-left-icons/pages.png') no-repeat;
            }
            .application-icon {
                background: url('../img/theme-light-purple/sidebar-left-icons/applications.png') no-repeat;
            }
            .ui-icon {
                background: url('../img/theme-light-purple/sidebar-left-icons/ui.png') no-repeat;
            }
            .menu-icon {
                background: url('../img/theme-light-purple/sidebar-left-icons/menu.png') no-repeat;
            }
            .blankpage-icon {
                background: url('../img/theme-light-purple/sidebar-left-icons/blank-page.png') no-repeat;
            }
            .docs-icon {
                background: url('../img/theme-light-purple/sidebar-left-icons/docs.png') no-repeat;
            }
        }
    }



    // Change Theme
    .changeTheme {
        .changeTheme__button {
            background: url('../img/theme-light-purple/change-theme.png') no-repeat;
            background-position: center center;
        }
    }
}