$module-name: 'mediumIcon';

.#{$module-name} {
    @extend %cursor-pointer;
    @extend %border-0;
    @extend %default-outline;
    margin: 0px 4px;
}

.view-icon-1 {
    background: url('../img/theme-light/view-icons/view1.png');
    width: 20px;
    height: 20px;
}
.view-icon-2 {
    background: url('../img/theme-light/view-icons/view2.png');
    width: 20px;
    height: 20px;
}
.view-icon-3 {
    background: url('../img/theme-light/view-icons/view3.png');
    width: 20px;
    height: 20px;
}