$module-name: 'btn-buy';

.#{$module-name} {
    .btn-buy__button {
        padding: 8px 16px;
        border-radius: 16px;
        // extend
        @extend %cursor-pointer;
        @extend %margin-right-left-12px;
        @extend %background-transparent;
        @extend %outline-0;
        @extend %transition-background-color;
        // tipografia
        @include type-1(12.16);
        @extend %text-uppercase;
        // Responsivo
        @include device(medium-to-xxsmall) {
            display: none;
        }
    }
}