$module-name: 'main';

.#{$module-name} {
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    transition: margin-left .3s;

    //        left   | right |  espaçamento
    // 410 = 120px +  230px   +   60px      =  410px      >> Large device
    // 380 = 110px +  220px   +   50px      =  380px      >> medium to large device
    // 340 =  90px +  210px   +   40px      =  340px      >> medium to small device
    
    @include device(large) {
        margin: 165px 60px 40px 410px;
        &[data-leftSidebar="active"][data-rightSidebar="inactive"] {
            z-index: 1100;
            margin-left: 180px;
        }
        &[data-leftSidebar="inactive"] {
            z-index: 1100;
            margin-left: 60px;
        }
    }
    @include device(medium-to-large) {
        margin: 130px 50px 30px 380px;
        &[data-leftSidebar="active"][data-rightSidebar="active"] {
            margin-left: 160px;
        }
        &[data-leftSidebar="active"][data-rightSidebar="inactive"] {
            z-index: 1100;
            margin-left: 160px;
        }
        &[data-leftSidebar="inactive"] {
            z-index: 1100;
            margin-left: 50px;
        }
    }
    @include device(medium-to-small) {
        margin: 110px 40px 20px 340px;
        &[data-leftSidebar="active"][data-rightSidebar="active"] {
            margin-left: 140px;
        }
        &[data-leftSidebar="active"][data-rightSidebar="inactive"] {
            z-index: 1100;
            margin-left: 140px;
        }
        &[data-leftSidebar="inactive"] {
            z-index: 1100;
            margin-left: 40px;
        }
    }
    @include device(small-to-xxsmall) {
        margin-left: 15px !important;
        margin-right: 15px !important;
        margin-top: 85px;
        &[data-leftSidebar="active"][data-rightSidebar="inactive"] {
            z-index: 500;
        }
        &[data-rightSidebar="inactive"],
        &[data-leftSidebar="inactive"] {
            z-index: 1100;
        }
    }


    /***************************************/
    .main__header {
        justify-content: space-between;
        margin-bottom: 40px;
        @include device(medium-to-xsmall) {
            .main__title {
                flex-direction: column;
            }
            .currentPage {
                margin: 22px 22px 0px 0px;
            }
        }
        @include device(xsmall-to-xxsmall) {
            .currentPage {
                display: none;
            }
        }
    }
    .main__addNew-and-selectAll {
        @include device(medium-to-xsmall) {
            & {
                margin-top: -22px;
            }
        }
        @include device(xsmall-to-xxsmall) {
            & {
                width: 100%;
                margin-top: 12px;
            }
            .btn-add-new {
                flex: 1;
            }
        }
        .btn-group {
            position: relative;
        }
    }

    // Filtros styles
    .main__filters {
        width: 100%;
        padding: 20px 0px;
        border-bottom: 1px solid #8F8F8F;
        @include device(small-to-xxsmall) {
            & {
                display: none;
            }
        }
        .main__filters__container {
            justify-content: space-between;
            .main__filters__icons {
                margin-right: 22px;
            }
        }

        .main__filters__pages {
            .spanItems {
                @extend %margin-right-left-12px;
                // Tipografia
                @include type-1(12.16);
                @extend %color-light-default-2;
                @extend %font-weight400;
            }
        }
    }

    // Footer main
    .main__footer {
        .main__list {
            justify-content: center;
            .main__link {
                @extend %margin-right-left-12px;
                @include device(small-to-xsmall) {
                    margin: 0 6px;
                }
                @include device(xsmall-to-xxsmall) {
                    margin: 0px 3px;
                }
            }
        }
        .btn-disabled-1, .btn-disabled-2,
        .btn-activated-1, .btn-activated-2,
        .main__numPage {
            padding: 18px;
            @include device(xsmall-to-xxsmall) {
                padding: 14px;
            }
        }
        .btn-disabled-1, .btn-disabled-2 {
            @extend %border-radius-50-percent;
        }

        .btn-activated-1, .btn-activated-2 {
            @extend %cursor-pointer;
            @extend %border-radius-50-percent;
            @extend %transition-background-color;
        }
        .btn-activated-1 {
            background: url('../img/theme-light/icons-page-navigation/next.png') no-repeat;
            background-position: center center;
            &:hover {
                background: url('../img/theme-light/icons-page-navigation/next-hover.png') no-repeat;
                background-position: center center;
            }
        }
        .btn-activated-2:hover {
            background: url('../img/theme-light/icons-page-navigation/last.png') no-repeat;
            background-position: center center;
        }

        
        .main__numPage {
            padding: 10px 14px;
            border: 1px solid transparent;
            @extend %border-radius-50-percent;
            // Tipografia
            @include type-1(12.8);
            @extend %text-decoration-none;
            @include device(xsmall-to-xxsmall) {
                padding: 6px 10px;
            }
        }
    }
}