$module-name: 'header';

.#{$module-name} {
        z-index: 2000;
    height: 120px;
    justify-content: space-between;
    padding: 24px 60px 24px 0px;
    box-sizing: border-box;
    background: #FFF;
    @extend %box-shadow-default;
    @extend %transition-height;
    @include device(medium-to-large) {
        height: 90px;
    }
    @include device(medium-to-small) {
        height: 80px;
        padding: 24px 30px 24px 0px;
    }
    @include device(small-to-xxsmall) {
        height: 70px;
        padding: 15px;
    }
    .navbar-icons-imageButton {
        position: relative;
        @include device(small-to-xxsmall) {
            width: auto;
        }
    }
}