$module-name: 'bell-list';

.#{$module-name} {
    position: relative;

    .bell-list__content {
        // width e height
        width: 260px;
        max-height: 280px;
        // position
        position: absolute;
        right: 0px;
        // espaçamentos
        margin-top: 20px;
        padding: 24px;
        box-sizing: border-box;
        // scroll
        overflow: auto;
        &::-webkit-scrollbar {
            width: 4px;
        }
        .bell-list__item {
            // alinhamento
            display: flex;
            align-items: center;
            // espaçamento
            margin-bottom: 16px;
            padding-bottom: 16px;
            .bell-list__img {
                width: 40px;
                height: 40px;
                @extend %border-radius-50-percent;
            }
            .bell-list__link {
                // espaçamento
                padding-left: 16px;
                padding-right: 8px;
                // extends
                @extend %text-decoration-none;
            }
            .bell-list__text {
                @extend %transition-color;
                // espaçamento
                margin-bottom: 4px;
                // tipografia
                @include type-1(13.6);
                line-height: 1.6em;
            }
            .bell-list__date {
                @include type-1(12.16);
            }
        }
    }
}