$module-name: 'user-list';

.#{$module-name} {
    position: relative;

    .user-list__content {
        width: 160px;
        // position
        position: absolute;
            right: 0px;
        // espaçamento
        margin-top: 20px;
        padding: 8px 0px;
        .user-list__link {
            display: flex;
            // extends
            @extend %text-decoration-none;
            // tipografia
            @include type-1(12.8);
            line-height: 1.8em;
            // espaçamento
            padding: 12px 24px;
        }
        .user-list__item:nth-child(4) {
            margin-bottom: 8px;
        }
        .user-list__item:nth-child(5) .user-list__link {
            margin-top: 8px;
        }
    }
}