$module-name: 'btn-add-new';

.#{$module-name} {
    @extend %outline-0;
    @extend %cursor-pointer;
    @extend %border-0;
    @extend %transition-background-color;
    margin: 0 4px;
    border-radius: 22px;
    padding: 12px 41.6px 12px;
    // Tipografia
    @include type-1(12.8);
    @extend %font-weight700;
    @extend %color-light-default-4;
    text-transform: uppercase;
}