$module-name: 'langContent';

.#{$module-name} {
    position: absolute;
        right: 0px;
    margin-top: 16px;
    padding: 8px 0px;
    box-sizing: border-box;
    min-width: 160px;
    // Alinhamento
    flex-direction: column;
    .langContent__btn {
        padding: 12px 24px;
        // Tipografia
        text-align: left;
        @include type-1(12.8);
        // Extends
        @extend %cursor-pointer;
        @extend %border-0;
        @extend %background-transparent;
    }
}