$module-name: 'imageButton';

.#{$module-name} {
    @extend %border-0;
    @extend %background-transparent;
    @extend %cursor-pointer;
    @extend %default-outline;
    .imageButton__name {
        @extend %default-margin;
        // Tipografia
        @include type-1(12.8);
        @extend %color-light-default-1;
        @include device(medium-to-xxsmall) {
            display: none;
        }
    }
    .imageButton__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        @include device(small-to-xxsmall) {
            width: 30px;
            height: 30px;
        }
    }
}