$module-name: 'main';

.#{$module-name} {
    position: relative;
    padding: 40px 60px;
    box-sizing: border-box;
    margin-top: 120px;
    @include device(medium-to-large) {
        margin-top: 90px;
    }
    @include device(medium-to-small) {
        margin-top: 80px;
        padding: 40px 16px;
    }
    @include device(small-to-xxsmall) {
        margin-top: 70px;
        padding: 20px 16px;
    }
    @extend %transition-transform-and-width;
    // Dinamic width >>>
    &[data-leftSidebar="active"][data-rightSidebar="inactive"] {
        z-index: 1100;
        width: calc(100% - 120px);
        transform: translateX(120px);
    }

    &[data-leftSidebar="active"][data-rightSidebar="active"] {
        z-index: 500;
        width: calc(100% - 120px);
        transform: translateX(120px);
    }

    &[data-leftSidebar="inactive"][data-rightSidebar="inactive"] {
        z-index: 1100;
        width: 100%;
        transform: translateX(0);
    }

    @include device(large) {
        &[data-leftSidebar="active"][data-rightSidebar="active"] {
            width: calc(100% - 350px);
            transform: translateX(350px);
        }
    }
    @include device(small-to-xxsmall) {
        &[data-leftSidebar="active"][data-rightSidebar="inactive"] {
            z-index: 500;
            width: 100%;
            transform: translateX(0);
        }
        &[data-leftSidebar="active"][data-rightSidebar="active"] {
            z-index: 500;
            width: 100%;
            transform: translateX(0);
        }
        &[data-leftSidebar="inactive"][data-rightSidebar="inactive"] {
            z-index: 1100;
        }
    }
    

    /***************************************/
    .main__header {
        justify-content: space-between;
        margin-bottom: 40px;
        @include device(medium-to-xsmall) {
            .main__title {
                flex-direction: column;
            }
            .currentPage {
                margin: 22px 22px 0px 0px;
            }
        }
        @include device(xsmall-to-xxsmall) {
            .currentPage {
                display: none;
            }
        }
    }
    .main__addNew-and-selectAll {
        @include device(medium-to-xsmall) {
            & {
                margin-top: -22px;
            }
        }
        @include device(xsmall-to-xxsmall) {
            & {
                width: 100%;
                margin-top: 12px;
            }
            .btn-add-new {
                flex: 1;
            }
        }
        .btn-group {
            position: relative;
        }
    }

    // Filtros styles
    .main__filters {
        width: 100%;
        padding: 20px 0px;
        border-bottom: 1px solid #8F8F8F;
        @include device(small-to-xxsmall) {
            & {
                display: none;
            }
        }
        .main__filters__container {
            justify-content: space-between;
            .main__filters__icons {
                margin-right: 22px;
            }
        }

        .main__filters__pages {
            .spanItems {
                @extend %margin-right-left-12px;
                // Tipografia
                @include type-1(12.16);
                @extend %color-light-default-2;
                @extend %font-weight400;
            }
        }
    }

    // Footer main
    .main__footer {
        .main__list {
            justify-content: center;
            .main__link {
                @extend %margin-right-left-12px;
                @include device(small-to-xsmall) {
                    margin: 0 6px;
                }
                @include device(xsmall-to-xxsmall) {
                    margin: 0px 3px;
                }
            }
        }
        .btn-disabled-1, .btn-disabled-2,
        .btn-activated-1, .btn-activated-2,
        .main__numPage {
            padding: 18px;
            @include device(xsmall-to-xxsmall) {
                padding: 14px;
            }
        }
        .btn-disabled-1, .btn-disabled-2 {
            @extend %border-radius-50-percent;
        }

        .btn-activated-1, .btn-activated-2 {
            @extend %cursor-pointer;
            @extend %border-radius-50-percent;
            @extend %transition-background-color;
        }
        .btn-activated-1 {
            background: url('../img/theme-light/icons-page-navigation/next.png') no-repeat;
            background-position: center center;
            &:hover {
                background: url('../img/theme-light/icons-page-navigation/next-hover.png') no-repeat;
                background-position: center center;
            }
        }
        .btn-activated-2:hover {
            background: url('../img/theme-light/icons-page-navigation/last.png') no-repeat;
            background-position: center center;
        }

        
        .main__numPage {
            padding: 10px 14px;
            border: 1px solid transparent;
            @extend %border-radius-50-percent;
            // Tipografia
            @include type-1(12.8);
            @extend %text-decoration-none;
            @include device(xsmall-to-xxsmall) {
                padding: 6px 10px;
            }
        }
    }
}