$module-name: 'aside';
$element1-name: 'aside__left-Sidebar';
$element2-name: 'aside__right-Sidebar';

.#{$module-name} {
    z-index: 1000;
    margin-top: 120px;
    @include device(medium-to-large) {
        margin-top: 90px;
    }
    @include device(medium-to-small) {
        margin-top: 80px;
    }
    @include device(small-to-xxsmall) {
        margin-top: 70px;
    }
    .#{$element1-name} {
        position: relative;
            z-index: 800;
        width: 120px;
        height: 100vh;
        @extend %transition-transform-and-width;
        @extend %box-shadow-default;
        @include device(medium-to-large) {
            width: 110px;
        }
        @include device(medium-to-small) {
            width: 100px;
        }
        .left-Sidebar__list {
            overflow: auto;
            max-height: 85%;
        }
        .left-Sidebar__link {
            flex-direction: column;
            justify-content: center;
            padding: 28px 0px;
            // Tipografia
            @include type-1(13);
            @extend %text-decoration-none;
            .largeIcons__span {
                margin-top: 8.7px;
            }
        }
    }
    .#{$element2-name} {
        position: relative;
            z-index: 700;
        width: 229px;
        height: 100vh;
        @extend %box-shadow-default-2;
        @extend %transition-transform-and-width;
        .right-Sidebar__list {
            overflow: auto;
            max-height: 70%;
            padding: 25px 0px;
        }
        .right-Sidebar__containerLink {
            margin-bottom: 10px;
            margin-left: 30px;
        }
    }
    .right-Sidebar__link {
        display: flex;
        align-items: center;
        padding: 8px 0px;
        // Tipografia
        @include type-1(13);
        @extend %text-decoration-none;
        @extend %transition-color;
    }
}