$module-name: 'langButton';

.#{$module-name} {
    position: relative;
    .langButton__button {
        padding: 10px 16px;
        border-radius: 22px;
        @extend %border-0;
        @extend %cursor-pointer;
        @extend %margin-right-left-12px;
        @extend %outline-0;
        // Tipografia 
        @include type-1(12.8);
        &::after {
            content: '';
            display: inline-block;
            width: 0px;
            height: 0px;
            margin-left: 4px;
            margin-bottom: 2px;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
    }
}