$module-name: 'grid-list';

.#{$module-name} {
    position: relative;


    .grid-list__content {
        // width e height
        min-width: 240px; 
        min-height: 280px;
        // position
        position: absolute;
            right: 0px;
        // espaçamentos
        margin-top: 20px;
        padding: 12px 24px;
        box-sizing: border-box;
        // alinhamento
        flex-wrap: wrap;
        align-items: center;
        .grid-list__item {
            width: 50%;
        }
        .grid-list__link {
            // alinhamento
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // tipografia
            @include type-1(12.8);
            // extends
            @extend %text-decoration-none;
            // espaçamento
            // background: blue;
            padding: 10px 0px;
        }
        .grid-list__name {
            margin-top: 10px;
        }
    }
}