$module-name: 'order-list';

.#{$module-name} {
    position: relative;

    .order-list__content {
        min-width: 160px;
        position: absolute;
            top: 25px;
        margin-top: 5px;
        padding: 8px 0px;
        .order-list__item {
            cursor: default;
            display: block;
            padding: 12px 24px;
            // tipografia
            @include type-1(12.8);
            line-height: 1.8;
        }
    }
}