$module-name: 'btn-add-new';

.#{$module-name} {
    @extend %default-outline;
    @extend %cursor-pointer;
    @extend %border-0;
    @extend %default-border-radius;
    @extend %transition-background-color;
    @extend %default-small-margin;
    padding: 12px 41.6px 9.6px;
    // Tipografia
    @include type-1(12.8);
    @extend %font-weight700;
    @extend %color-light-default-4;
    text-transform: uppercase;
}