$module-name: 'smallIcon';

.#{$module-name} {
    width: 18px;
    height: 18px;
    @extend %margin-right-left-12px;
    .grid-list__icon {
        background: url('../img/theme-light/header-icons/list.png') no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        // extend
        @extend %outline-0;
    }
    .smallIcon__img-bell {
        background: url('../img/theme-light/header-icons/bell.png') no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        // extend
        @extend %outline-0;
        .smallIcon__bell-alert {
            // position
            position: absolute;
                top: -10px;
                left: 145px;
            // espaçamento
            padding: 2px 4px;
            // extend
            @extend %border-radius-50-percent;
            @extend %outline-0;
            // tipografia
            @include type-1(9);
            // responsivo
            @include device(medium-to-small) {
                left: 65px;
            }
            @include device(small-to-xsmall) {
                left: 65px;
            }
            @include device(xsmall-to-xxsmall) {
                left: 20px;
            }
        }
    }
    .smallIcon__img-fullscreen {
        background: url('../img/theme-light/header-icons/resize.png') no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        // extend
        @extend %outline-0;
    }
}