$module-name: 'smallIcon';

.#{$module-name} {
    width: 18px;
    height: 18px;
    @extend %margin-right-left-12px;
    .grid-list__icon {
        background: url('../img/theme-light/header-icons/list.png') no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        // extend
        @extend %outline-0;
    }
    .bell-list__icon {
        background: url('../img/theme-light/header-icons/bell.png') no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        // extend
        @extend %outline-0;
        .bell-list__alert {
            // position
            position: absolute;
                top: -20px;
                left: 10px;
            // espaçamento
            padding: 2px 4px;
            // extend
            @extend %border-radius-50-percent;
            @extend %outline-0;
            // tipografia
            @include type-1(9);
        }
    }
    .smallIcon__img-fullscreen {
        background: url('../img/theme-light/header-icons/resize.png') no-repeat;
        background-position: center center;
        width: 100%;
        height: 100%;
        // extend
        @extend %outline-0;
    }
}