$module-name: 'currentPage';

.#{$module-name} {
    @extend %margin-right-left-12px;
    // Tipografia
    @include type-1(12.8);
    .currentPage__page {
        @extend %text-decoration-none;
        @extend %transition-color;
        &:nth-child(2)::before,
        &:nth-child(3)::before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 15px;
            @extend %background-light-default-3;
            margin: 0px 10px;
        }
    }
}