$module-name: 'changeTheme';

// Mixin default values
@mixin defaultValues($bg, $border) {
    padding: 0px 12px 8px 12px;
    @extend %border-radius-50-percent;
    border: 3px solid transparent;
    @extend %border-radius-50-percent;
    //
    @extend %background-#{$bg};
    &:hover {
        @extend %border-#{$border}-color;
        //
        @extend %background-transparent;
        @extend %transition-background-color;
    }
}

.#{$module-name} {
    z-index: 1500;
    max-width: 280px + 40;
    top: 55%;
    right: 0;
    justify-content: flex-end;
    transform: translateY(-50%);
    box-sizing: border-box;
    @include device(xsmall-to-xxsmall) {
        top: 45%;
    }
    .changeTheme__button {
        width: 40px;
        height: 60px;
        @extend %box-shadow-default;
        @extend %border-0;
        @extend %cursor-pointer;
        @extend %default-outline;
        @extend %transition-transform;
    }
    .changeTheme__list {
        position: absolute;
        z-index: -100;
        width: 280px;
        height: 200px;
        padding: 24px;
        box-sizing: border-box;
        transform: translate3d(300px,0,0);
        @extend %box-shadow-default;
        @extend %transition-transform;
        .changeTheme__list__name {
            margin-bottom: 4px;
            // Tipografia
            @include type-1(13);
            // extend
            @extend %color-light-default-3;
        }
        .changeTheme__list__light {
            width: 100% - 4;
            height: 50% - 4;
            justify-content: space-between;
            li {
                width: 24px;
                height: 24px;
                border: 3px solid transparent;
                // extend
                @extend %border-radius-50-percent;
                .t-light.purple {
                    @include defaultValues(purple, purple);
                }
                .t-light.blue {
                    @include defaultValues(blue, blue);
                }
                .t-light.green {
                    @include defaultValues(green, green);
                }
                .t-light.orange {
                    @include defaultValues(orange, orange);
                }
                .t-light.red {
                    @include defaultValues(red, red);
                }
            }
        }

        .changeTheme__list__dark {
            width: 100% - 4;
            height: 50% - 4;
            justify-content: space-between;
            li {
                width: 24px;
                height: 24px;
                border: 3px solid transparent;
                // extend
                @extend %border-radius-50-percent;
                .t-dark.purple {
                    @include defaultValues(purple, purple);
                }
                .t-dark.blue {
                    @include defaultValues(blue, blue);
                }
                .t-dark.green {
                    @include defaultValues(green, green);
                }
                .t-dark.orange {
                    @include defaultValues(orange, orange);
                }
                .t-dark.red {
                    @include defaultValues(red, red);
                }
            }
        }
    }
}