$module-name: 'smallIcon-sidebar';

.#{$module-name}::before {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.datalist-icon::before {
    content: url('../img/theme-light/sidebar-right-icons/data-list.png');
}
.thumblist-icon::before {
    content: url('../img/theme-light/sidebar-right-icons/thumb-list.png');
}
.imagelist-icon::before {
    content: url('../img/theme-light/sidebar-right-icons/image-list.png');
}
.details-icon::before {
    content: url('../img/theme-light/sidebar-right-icons/details.png');
}
.search-icon::before {
content: url('../img/theme-light/sidebar-right-icons/search.png');
}
.mailing-icon::before {
content: url('../img/theme-light/sidebar-right-icons/mailing.png');
}
.invoice-icon::before {
content: url('../img/theme-light/sidebar-right-icons/invoice.png');
}
.login-icon::before {
content: url('../img/theme-light/sidebar-right-icons/login.png');
}
.register-icon::before {
content: url('../img/theme-light/sidebar-right-icons/register.png');
}
.forgotpass-icon::before {
content: url('../img/theme-light/sidebar-right-icons/forgot-password.png');
}
.error-icon::before {
content: url('../img/theme-light/sidebar-right-icons/error.png');
}