$module-name: 'changeTheme';



.#{$module-name} {
    z-index: 1500;
    max-width: 280px + 40;
    top: 55%;
    right: 0;
    justify-content: flex-end;
    transform: translateY(-50%);
    box-sizing: border-box;
    @include device(xsmall-to-xxsmall) {
        top: 45%;
    }
    .changeTheme__button {
        background: url('../img/theme-light-purple/change-theme.png') no-repeat;
        background-position: center center;
        width: 40px;
        height: 60px;
        background-color: #FFF;
        @extend %box-shadow-default;
        @extend %border-0;
        @extend %cursor-pointer;
        @extend %default-outline;
        @extend %transition-transform;
    }
    .changeTheme__list {
        position: absolute;
        z-index: -100;
        width: 280px;
        height: 200px;
        padding: 24px;
        box-sizing: border-box;
        background-color: #FFF;
        transform: translate3d(300px,0,0);
        @extend %box-shadow-default;
        @extend %transition-transform;
        .changeTheme__list__name {
            // Tipografia
            @include type-1(13);
            margin-bottom: 4px;
            @extend %color-light-default-3;
        }
        .changeTheme__list__light {
            width: 100% - 4;
            height: 50% - 4;
            justify-content: space-between;
            li {
                width: 24px;
                height: 24px;
                @extend %border-radius-50-percent;
                @extend %border-transparent-changeTheme__list;
                .light-purple {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-purple;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-purple-color;
                        @extend %transition-background-color;
                    }
                }
                .light-blue {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-blue;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-blue-color;
                        @extend %transition-background-color;
                    }
                }
                .light-green {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-green;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-green-color;
                        @extend %transition-background-color;
                    }
                }
                .light-orange {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-orange;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-orange-color;
                        @extend %transition-background-color;
                    }
                }
                .light-red {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-red;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-red-color;
                        @extend %transition-background-color;
                    }
                }
            }
        }

        .changeTheme__list__dark {
            width: 100% - 4;
            height: 50% - 4;
            justify-content: space-between;
            li {
                width: 24px;
                height: 24px;
                @extend %border-radius-50-percent;
                @extend %border-transparent-changeTheme__list;
                .dark-purple {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-purple;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-purple-color;
                        @extend %transition-background-color;
                    }
                }
                .dark-blue {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-blue;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-blue-color;
                        @extend %transition-background-color;
                    }
                }
                .dark-green {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-green;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-green-color;
                        @extend %transition-background-color;
                    }
                }
                .dark-orange {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-orange;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-orange-color;
                        @extend %transition-background-color;
                    }
                }
                .dark-red {
                    @extend %padding-changeTheme__list;
                    @extend %border-transparent-changeTheme__list;
                    @extend %border-radius-50-percent;
                    @extend %background-red;
                    &:hover {
                        @extend %background-transparent;
                        @extend %border-red-color;
                        @extend %transition-background-color;
                    }
                }
            }
        }
    }
}